.style-left-bar-not-collapsed{
  width: 256px !important;
}

.style-left-bar-collapsed{
  width: 80px !important;
}

.prism-code{
  padding-left:2rem;
  border-radius:5px;
}

/* ----------------------------------------------------- */
/* ARTICLE */

.container-page{
  max-width:1140px;
  /*display:block;*/
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  border: solid red 1px;
}

.header-image {
    background-image: url("./components/article/img/RE.jpg");
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    /* position: absolute;*/
    top:0;
    left:0;
    right: 0;
    content: "";
    height: 50vh;
    filter: brightness(80%) !important;
}

.header-title{
  height: calc(20vh);
  color:white;
  font-weight: 400;
  font-size: 50px;
  top:20vh;
  left:20vh;
  position: absolute
}

.sub-title{
  font-size: 28px;
  line-height: 1;
  color: #1e1e1e;
  font-weight: bold;
  display: block;
  padding-left: 18px;
  position: relative;
  margin-bottom: 25px;
}

.introduction, .text{
  color: #1e1e1e;
  font-size: 16px;
  line-height: 30px;
}

.bold{
  font-weight: bold;
}

.source{
  color: grey;
}
/* ----------------------------------------------------- */
