.footer{
    background-color: #444F60;
    color: #fff;
    text-align: center;
    padding: 3rem 1.5rem 6rem;
    /* display: block; */

}
/* style={{ margin: '10px', padding: '10px', border: 'solid 1px red' }} */